.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
.git.backup-*/

BIT101-iOS.xcodeproj/xcuserdata/
BIT101-iOS.xcodeproj/project.xcworkspace/xcuserdata/

BIT101-iOS/Resources/DirtyWords/en.txt
BIT101-iOS/Resources/DirtyWords/zh.txt
